body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Настройка_Пакета_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1001px;
    height:798px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1007px;
    height:804px;
}

.u1 {
    position:absolute;
    left:2px;
    top:391px;
    width:997px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Настройка_Пакета_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:200px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Настройка_Пакета_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:215px;
    width:764px;
    height:562px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:770px;
    height:568px;
}

.u5 {
    position:absolute;
    left:2px;
    top:273px;
    width:760px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Настройка_Пакета_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:602px;
    top:161px;
    width:147px;
    height:32px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Настройка_Пакета_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:962px;
    height:3px;
}

.u8 {
    position:absolute;
    left:10px;
    top:188px;
    width:962px;
    height:10px;
    
}

.u9 {
    position:absolute;
    left:209px;
    top:244px;
    width:248px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:20px;
    top:250px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:357px;
    top:421px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_normal {
    background-image: url('../Настройка_Пакета_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:10px;
    top:196px;
    width:222px;
    height:22px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:28px;
}

.u13 {
    position:absolute;
    left:2px;
    top:3px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Настройка_Пакета_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:20px;
    top:161px;
    width:147px;
    height:32px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Настройка_Пакета_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:177px;
    top:161px;
    width:147px;
    height:32px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Настройка_Пакета_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:334px;
    top:161px;
    width:258px;
    height:32px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:38px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:467px;
    top:250px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:20px;
    top:282px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:20px;
    top:314px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:467px;
    top:314px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:209px;
    top:276px;
    width:248px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:209px;
    top:308px;
    width:248px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

