html, body {width:100%;}
body {
	margin:0;
  	color:#8c7348;
	font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background:#fff url(../images/body.gif) repeat-x;	
}
img{border:none;}
a{
	text-decoration:underline;
	color:#8c7348;
	outline:none;
}
a:hover{text-decoration:none;}
input,
textarea,
select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form,fieldset{
	margin:0;
	padding:0;
	border:none;
}
/* width */
.width {
	margin:0 auto;
	width:949px;
	padding:0 24px 0 27px;
	position:relative;
}
.width:after {
	content:'';
	display:block;
	clear:both;
}

.main {
	overflow:hidden;
	width:100%;
	position:relative;
	min-width:949px;
}

/* header */
.header {
	height:137px;
	position:relative;
	padding:23px 54px 0 27px;
	width:919px;
}
.index .header {
	height:85px;
	padding:22px 23px 0 27px;
	width:949px;
}
/* logo */
.header .logo {
	float:left;
	background:url(../images/logo2.gif) no-repeat;
	width:332px;
	height:75px;
	margin:0 50px 0 0;
}

/* iocn */
.header .icon {
	margin:0 3px 0 11px;
	padding:30px 0 0;
	list-style:none;
	float:right;
}
.index .header .icon {
	padding:25px 0 0;
	margin:0 0 0 20px;
}
.header .icon li {
	float:left;
	margin:0 0 0 4px;
}

/* links */
.header .links {
	float:right;
	margin:0;
	padding:24px 0 0;
	list-style:none;
	position:relative;
}
.header .links li {float:left;}
.header .links li a {
	font-size:14px;
	font-style:italic;
	color:#8c8123;
}
.header .links li a.registr {
	z-index:3;
	position:relative;
}
.header .links li .vhod {
	position:absolute;
	top:-22px;
	right:74px;
	background:url(../images/vhod-bg.png) no-repeat;
	width:161px;
	height:81px;
	padding:46px 0 0 40px;
	z-index:2;
}
.header .links li .vhod a {
	font-size:20px;
	color:#9e7948;
	text-decoration:none;
	border-bottom:1px dotted #9e7948;
	font-style:normal;
	float:left;
	line-height:21px;
	text-shadow:1px 1px 0 #f8f0d3;
}
.header .links li .vhod a:hover {border-bottom:none;}

/* user */
.user {
	text-align:right;
	margin:22px 0 0;
	float:right;
}
.user p {
	margin:0;
	color:#7e6729;
	line-height:17px;
	white-space:nowrap;
}
.user a {
	font-style:italic;
	font-size:14px;
	color:#8c8123;
}

/* nav */
.header .nav {
	margin:0 -5px 0 0;
	padding:12px 0 0;
	list-style:none;
	clear:both;
	overflow:hidden;
}
.header .nav li {
	float:left;
	margin:0 2px 0 0;
	text-align:center;
}
.header .nav li a {
	display:inline-block;
	background:url(../images/nav-hover.gif) repeat-x;
	height:51px;
	-webkit-border-radius:4px;
	border-radius:4px;
	width:152px;
	text-decoration:none;
	vertical-align:middle;
}
.header .nav li a:hover,
.header .nav li.active a {background-position:0 100%;}
*+html .header .nav li a {display:inline;}
.header .nav li img {
	display:inline-block;
	vertical-align:middle;
	margin:0 2px 0 0;
}
*+html .header .nav li img {display:inline;}
.header .nav li span {
	display:inline-block;
	vertical-align:middle;
	font-size:14px;
	color:#218171;
	padding:7px 0 0;
	margin:0 0 0 -5px;
}
.header .nav li a:hover span,
.header .nav li.active a span {color:#486713;}
*+html .header .nav li span {display:inline-block;}

/* tab-block */
.tab-block {
	position:relative;
	z-index:1;
	height:25px;
	margin:0 0 -6px;
}
.block {padding:0 0 0 10px;}
.tab-block em {
	width:100%;
	background:url(../images/tabs-bg.png) repeat-x;
	margin:-2px 0 0;
	position:relative;
	z-index:2;
	height:25px;
	display:block;
	z-index:101;
}
.tab-block:after {
	content:'';
	display:block;
	clear:both;
}
/* list-tabs */
.list-tabs {
	margin:-7px 0 0;
	padding:0 0 0 5px;
	list-style:none;
}
.list-tabs:after {
	content:'';
	display:block;
	clear:both;
}
.list-tabs li {
	float:left;
	margin:0 0 0 -12px;
	position:relative;
}
.list-tabs li:first-child {z-index:100;}
.list-tabs li:first-child + li {z-index:99;}
.list-tabs li:first-child + li + li {z-index:98;}
.list-tabs li:first-child + li + li + li {z-index:97;}
.list-tabs li:first-child + li + li + li + li {z-index:96;}
.list-tabs li:first-child + li + li + li + li + li {z-index:95;}
.list-tabs li:first-child + li + li + li + li + li + li {z-index:94;}
.list-tabs li a {
	font-size:15px;
	color:#576d1c;
	background:url(../images/tabg-hover.png) no-repeat;
	width:184px;
	height:33px;
	float:left;
	text-decoration:none;
	text-align:center;
	position:relative;
	padding:2px 0 0;
}
.list-tabs li.active {
	position:relative;
	z-index:102 !important;
}
.list-tabs li.active a {background-position:0 -35px;}
.list-tabs li a:hover {text-decoration:underline;}

/* promo-block */
.promo-block {
	width:100%;
	background:url(../images/promo-bg.gif) repeat;
	height:300px;
}

/* table-graph */
.cont-holder .table-graph {
	width:759px;
	height:533px;
	border:1px solid #c4bfb7;
	overflow:auto;
	position:relative;
	margin:30px 0 50px;
}
.cont-holder .table-graph .month {
	position:relative;
	height:516px;
	float:left;
	overflow:hidden;
	width:2666px;
}
.cont-holder .table-graph .month .month-name {
	position:absolute;
	bottom:20px;
	left:270px;
	font-size:12px;
	color:#646464;
	z-index:1;
	font-style:normal;
}
.cont-holder .table-graph .list {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	height:516px;
	width:2666px;
}
.cont-holder .table-graph .list li {
	float:left;
	position:relative;
	margin:0;
	width:86px;
	text-align:center;
	background:#fce9c4;
	height:516px;
}
.cont-holder .table-graph .list li.odd {background:#d9e6d8;}
.cont-holder .table-graph .list li .data {
	background:#fdf3df url(../images/span2.gif) no-repeat 50% 0;
	display:block;
	padding:15px 0 0;
	font-size:12px;
	color:#646464;
	border-left:2px solid #c4bfb7;
	height:35px;
}
.cont-holder .table-graph .list li.odd .data {background:#eaf1ea url(../images/span2.gif) no-repeat 50% 0;}
.cont-holder .table-graph .list li:first-child .data {border-left:none;}
.cont-holder .table-graph .list li .popup {
	position:absolute;
	background:url(../images/bg-span.png) no-repeat;
	width:145px;
	height:56px;
	z-index:1;
	text-align:left;
	padding:7px 5px 0 10px;
}
.cont-holder .table-graph .list li .popup img {float:right;}
.cont-holder .table-graph .list li .popup span {
	display:block;
	font-size:12px;
	color:#646464;
}
.cont-holder .table-graph .list li .popup strong {
	color:#646464;
	display:block;
	font-size:17px;
	font-weight:100;
}

/* promo */
.promo {
	position:relative;
	z-index:1;
	height:300px;
}
.promo .pic {
	position:absolute;
	top:-53px;
	left:-73px;
}

/* holder */
.cont-holder {
	position:relative;
	padding:20px 0 20px;
	margin:0;
}
.cont-holder:first-child {
	margin:-2px 0 0;
	padding:70px 0 10px;
}
.blue {background:#e7f4f2;}
.pink {background:#f5e6ea;}
.cont-holder .bg {
	background:url(../images/bg3.png) repeat-x;
	height:34px;
	width:100%;
	display:block;
	position:absolute;
	top:4px;
	left:0;
	z-index:0;
}
.cont-holder .box p {
	color:#18836c;
	margin:0 0 15px;
}

/* holder-cont */
.holder-cont {padding:20px 0 50px;}

/* gallery */
.gallery {
	margin:0 -15px -25px -23px;
	padding:15px 0 0;
	list-style:none;
	overflow:hidden;
	width:803px;
}
.gallery li {
	overflow:hidden;
	width:390px;
	float:left;
	position:relative;
	margin:0 10px 0 0;
	padding:0 0 25px;
}
.gallery li .photo {
	float:left;
	position:relative;
	text-align:center;
	width:143px;
	height:123px;
	padding:10px 0 0 28px;
}
.gallery li .photo .ramka {
	background:url(../images/ramka2.png) no-repeat;
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:174px;
	height:133px;
}
.gallery li .text {
	float:right;
	width:210px;
	padding:0 0 20px;
}
.gallery li .text .but {
	position:absolute;
	bottom:29px;
	left:184px;
}
.gallery li .text h3 {margin:0;}
.gallery li .text h3 a {
	color:#ab8645;
	text-decoration:none;
	font-size:18px;
}
.gallery li .text h3 a:hover {text-decoration:underline;}
.gallery li .text p {
	margin:0 !important;
	font-size:14px;
	color:#000 !important;
}
.name h2 {
	margin:0 35px 0 0;
	float:left;
	color:#ab8645;
}
.name {
	overflow:hidden;
	height:1%;
	margin:0 0 16px;
}
.name2 .but {float:right;}
.box {
	float:left;
	width:765px;
	margin:0 0 25px;
}

.box .name .link {
	float:left;
	margin:6px 30px 0 0;
	font-size:14px;
	color:#2c9381;
	background:url(../images/icon03.png) no-repeat;
	padding:2px 0 2px 25px;
}

/* book */
.box .book {height:1%;}
.box .book:after {
	content:'';
	display:block;
	clear:both;
}
.box .book .left {
	float:left;
	width:150px;
	padding:0 5px 0 0;
	text-align:right;
}
.box .book .left .data {
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#6c5720;
}
.box .book .left div.list {
	position:relative;
	background:url(../images/years.png) no-repeat;
	min-height:133px;
}
.box .book .left div.list img {position:absolute;}
.box .book .left div.list img.pic1 {
	top:5px;
	left:22px;
}
.box .book .left div.list img.pic2 {
	bottom:-25px;
	left:-5px;
}
.box .book .left div.list img.pic3 {
	bottom:5px;
	left:10px;
}
.box .book .left .list ul {
	margin:0;
	padding:0;
	list-style:none;
}
.box .book .left .list ul li {
	display:block;
	float:none;
	position:relative;
}
.box .book .left .list ul li em {
	font-size:18px;
	color:#7e5d24;
	font-weight:bold;
	font-style:normal;
	right:0;
	position:absolute;
}
.box .book .left .list ul li span {
	font-size:30px;
	color:#7e5d24;
	font-weight:bold;
	position:absolute;
	width:56px;
	text-align:center;
}
.box .book .left .list ul .l1 em {top:25px;}
.box .book .left .list ul .l2 em {top:60px;}
.box .book .left .list ul .l3 em {top:93px;}
.box .book .left .list ul .l1 span {
	top:10px;
	left:50px;
}
.box .book .left .list ul .l2 span {
	top:50px;
	left:7px;
}
.box .book .left .list ul .l3 span {
	top:86px;
	left:46px;
}
.box .book .left .list ul span.none {
	top:13px;
	left:33px;
}

.box .book .text-bg {
	float:right;
	width:542px;
	z-index:1;
	position:relative;
	padding:20px 20px 35px 33px;
}
.box .book .text-bg .img-left {
	float:left;
	margin:7px 15px 5px 0;
} 
.box .book .text-bg h3 {
	margin:0 0 16px;
	font-weight:100;
}
.box .book .text-bg h3 a {
	font-size:24px;
	color:#218b84;
}
.box .book .text-bg p {
	margin:0 0 20px;
	font-size:16px;
	color:#000;
	line-height:18px;
}
.box .book .text-bg .link-list {
	width:100%;
	overflow:hidden;
	margin:0 0 20px;
	padding:0;
	list-style:none;
}
.box .book .text-bg .link-list li {
	float:left;
	background:url(../images/separator.gif) no-repeat 0 4px;
	padding:0 8px 0 10px;
}
.box .book .text-bg .link-list li:first-child {background:none; padding:0 8px 0 0;}
.box .book .text-bg .link-list li a {
	font-size:12px;
	color:#886a2a;
	text-decoration:none;
	float:left;
}
.text-bg {
	background:#fff;
	box-shadow:0 0 8px 0 #ccc;
	padding:10px 30px 15px 13px;
	behavior: url(pie/PIE.php);
	width:720px;
}
.text-bg dl {
	overflow:hidden;
	width:100%;
	margin:0 0 10px;
}
.text-bg dt {
	display:block;
	font-size:18px;
	line-height:24px;
	color:#218171;
}
.text-bg dd {
	margin:0 0 5px;
	font-size:18px;
	color:#6b6b6b;
	line-height:24px;
}
.text-bg .med {
	margin:0;
	padding:15px 0 0;
	list-style:none;
	width:575px;
}
.text-bg .med li {
	margin:0 0 20px;
	overflow:hidden;
	height:1%;
}
.text-bg .med li .data {
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:2px 0 0;
	color:#828584;
}
.text-bg .med li p {
	float:right;
	margin:0;
	width:485px;
	font-size:14px;
	color:#828584;
}
.but {
	background:url(../images/button.gif) repeat-x;
	height:21px;
	float:left;
	text-decoration:none;
	font-size:12px;
	color:#fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:3px 5px 0;
	margin:2px 0 0;
}
.but img {float:left; margin:0 4px 0 0;}
.but:hover {text-decoration:underline;}

/* list-block */
.list-block {
	overflow:hidden;
	width:665px;
	margin:0 auto;
	padding:20px 50px 0 0;
	position:relative;
}
.list-block ul {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;
}
.list-block ul li {
	position:absolute;
	width:130px;
	white-space:nowrap;
}
.list-block ul li a {text-decoration:none;}
.list-block ul li a:hover span {text-decoration:underline;}
.list-block ul.left {float:left; left:0px}
.list-block ul.right {float:right; right:50px;}
.list-block ul.left li {text-align:right; left:0;}
.list-block ul.right li {text-align:left; right:0;}
.list-block ul .l1 {top:37px;}
.list-block ul img {
	position:absolute;
	display:none;
}
.list-block ul .l1 img {
	top:43px;
	left:299px;
}
.list-block ul li:hover img {display:block;}
.list-block ul .l2 {top:76px;}
.list-block ul .l3 {top:116px;}
.list-block ul .l4 {top:170px;}
.list-block ul .l5 {top:217px;}
.list-block ul .l6 {top:295px;}
.list-block ul .l7 {top:341px;}
.list-block ul .l8 {top:384px;}
.list-block ul .l9 {top:447px;}
.list-block ul .l10 {top:481px;}

.list-block ul li span {
	display:block;
	font-size:14px;
	color:#218171;
	line-height:14px;
}
.list-block ul li em {
	font-style:normal;
	font-size:14px;
	color:#000;
	line-height:14px;
	display:block;
}
.list-block .zub {
	display:block;
	text-align:center;
	margin:0 auto;
}

.box table {
	border-collapse:collapse;
	width:100%;
	margin:0 0 25px;
	font-size:12px;
	color:#5e6060;
	box-shadow:0 0 8px 0 #ccc;
	behavior: url(pie/PIE.php);
}
.box table th {
	padding:10px 0;
	font-weight:100;
	background:#d9e6d8;
}
.box table .left {
	text-align:left;
	width:100px;
	padding:0 0 0 10px;
}
.box table td {
	padding:10px 0;
	background:#d9e6d8;
	text-align:center;
}
.box table .odd {background:#fce9c4;}
.box .list {
	margin:0 0 10px;
	padding:0;
	list-style:none;
	width:100%;
}
.box .list:after {
	content:'';
	display:block;
	clear:both;
}
.box .list li {
	float:left;
	margin:0 2px 0 0;
}
.box .list li a {
	float:left;
	background:url(../images/but2.gif) repeat-x;
	height:33px;
	padding:8px 12px 0;
	text-decoration:none;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:16px;
	color:#5e6060;
}
.box .list li a:hover {text-decoration:underline;}
.box .graph {
	display:block;
	box-shadow:0 0 8px 0 #ccc;
	margin:0 0 20px;
	behavior: url(pie/PIE.php);
}

/* text-block */
.promo .text-block {
	float:right;
	width:358px;
	padding:43px 0 0;
}
.promo .text-block h2 {
	margin:0;
	font-size:36px;
	color:#61580e;
	line-height:28px;
}
.promo .text-block h3 {
	margin:0 0 7px;
	font-size:28px;
	color:#61580e;
	font-weight:100;
}

/* menu */
.promo .menu {
	margin:0 0 0 -4px;
	padding:0;
	list-style:none;
	background:url(../images/menu-bg.png) no-repeat;
	position:relative;
	min-height:170px;
}
.promo .menu li img {display:block;}
.promo .menu li a em {
	font-size:14px;
	color:#61580e;
	text-decoration:none;
	white-space:nowrap;
}
.promo .menu li a:hover em {text-decoration:underline;}
.promo .menu .l1 {
	position:absolute;
	top:20px;
	left:25px;
}
.promo .menu .l1 em {
	position:absolute;
	top:90px;
	left:-19px;
}
.promo .menu .l2 {
	position:absolute;
	top:58px;
	left:114px;
}
.promo .menu .l2 em {
	position:absolute;
	top:-45px;
	left:-3px;
}
.promo .menu .l3 {
	position:absolute;
	top:25px;
	right:97px;
}
.promo .menu .l3 em {
	position:absolute;
	top:2px;
	right:-86px;
}
.promo .menu .l4 {
	position:absolute;
	top:73px;
	right:48px;
}
.promo .menu .l4 em {
	position:absolute;
	top:72px;
	right:-29px;
}

/* page */
.page {
	position:relative;
	background:url(../images/hold-bg.gif);
	min-height:560px;
}

/* container */
#container {
	width:100%;
	background:url(../images/holder.gif) repeat;
	position:relative;
	overflow:hidden;
}
#container .bg {
	background:url(../images/bg-cont.png) repeat-x;
	height:34px;
	width:100%;
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

/* holder */
.holder {
	padding:85px 35px 0 27px;
	width:938px;
	margin:0 auto 42px;
}

/* content */
#content {
	float:left;
	width:591px;
	padding:0 0 0 38px;
}
#content h2 {
	margin:0 0 4px -35px;
	font-size:36px;
	font-weight:100;
	color:#61580e;
	text-shadow:1px 1px 0 #fcfbf7;
}
#content p {
	line-height:19px;
	margin:0 0 20px;
}
#content .link {display:block;}
.link a {
	float:left;
	background:url(../images/bullet.png) no-repeat 0 4px;
	padding:0 0 3px 25px;
	font-size:14px;
	color:#347f75;
}

/* sidebar */
#sidebar {
	width:262px;
	float:right;
	position:relative;
	padding:0 13px 0 11px;
	overflow:hidden;
}
#sidebar .left {
	background:url(../images/news-left.png) no-repeat;
	width:11px;
	height:283px;
	position:absolute;
	top:50%;
	left:0;
	margin:-141px 0 0;
}
#sidebar .right {
	background:url(../images/news-right.png) no-repeat;
	width:13px;
	height:285px;
	position:absolute;
	top:50%;
	right:0;
	margin:-141px 0 0;
}

.top-bg {
	float:right;
	width:262px;
	background:url(../images/new-top.png) no-repeat;
	padding:50px 0 0;
}
.bg-sidebar {
	float:right;
	width:262px;
	background:url(../images/new-bg.gif) repeat-y;
}
#sidebar .bottom-bg {
	float:right;
	width:262px;
	background:url(../images/bottom-bg.png) no-repeat;
	height:19px;
}
#sidebar .news-block {
	margin:-39px 0 0;
	padding:0 25px 0 20px;
}
#sidebar h3 {
	margin:0 0 24px;
	font-size:24px;
	font-weight:100;
	color:#b7a874;
}
#sidebar .news {
	margin:0 0 -6px;
	padding:0;
	list-style:none;
}
#sidebar .news li {
	margin:0 0 23px;
	overflow:hidden;
}
#sidebar .news li img {float:left;}
#sidebar .news li div {
	float:right;
	width:158px;
	margin:-1px 0 0;
}
#sidebar .news li div p {
	line-height:14px;
	margin:0 0 11px;
}
#sidebar .news li div p a {
	font-size:12px;
	color:#8c8123;
}
#sidebar .news li .data {
	font-size:12px;
	color:#b8a883;
}

.cont .content {
	padding:0 0 30px;
	height:1%;
}
.cont .content:after {
	content:'';
	display:block;
	clear:both;
}

/* opis */ 
.opis {
	height:1%; 
	margin:0 0 50px;
	padding:15px 0 0;
}
.opis:after {
	content:'';
	display:block;
	clear:both;
}
.opis .photo {
	float:left;
	width:118px;
	margin:0 30px 0 0;
}
.cont-holder .pic {
	text-align:center;
	width:141px;
	position:relative;
	margin:-5px 0 15px -20px;
	padding:13px 0 0;
}
.cont-holder .pic .ramka {
	background:url(../images/ramka3.png) no-repeat;
	text-align:center;
	width:141px;
	height:145px;
	display:block;
	position:absolute;
	top:0;
	left:0;
}
.cont-holder .link {
	float:right;
	font-size:12px;
	color:#5e6060;
	margin:0 3px 0 0;
}
.opis .text-bg2 {
	float:left;
	width:508px;
	position:relative;
	padding:15px 30px 20px 43px;
}
.opis .text-bg2 .cl {
	position:absolute;
	bottom:20px;
	right:20px;
} 
.opis .text-bg2 .inform {
	float:left;
	width:220px;
	margin:0 10px 0 0;
}
.opis .text-bg2 .inform dt,
.opis .text-bg2 .inform dd {font-size:14px; line-height:18px;}
.opis .text-bg2 .inform dd {color:#000;}

/* .child */
.page .blue .child {
	width:100%;
	border-collapse:collapse;
}
.page .blue .child td {
	padding:5px 10px 25px 5px;
	vertical-align:top;
}
.page .blue .child td .name {
	font-size:14px;
	color:#000;
}
.page .blue .child td dl.name {
	overflow:hidden;
	width:145px;
	margin:0;
}
.page .blue .child td dl dt {
	display:block;
	font-size:14px;
	color:#218171;
	line-height:18px;
}
.page .blue .child td dl dd {margin:0;}
.page .blue .child td .but-link {
	background:url(../images/button2.gif) no-repeat;
	width:98px;
	height:92px;
	display:block;
	margin:7px 0;
}
.page .blue .child td .menu {
	text-align:center;
	font-size:14px;
	color:#218171;
	text-decoration:none;
	display:inline-block;
	white-space:nowrap;
	margin:0 5px 0 0;
}
.page .blue .child td .menu:hover {text-decoration:underline;}
.page .blue .child td .menu span {
	height:50px;
	display:block;
}
.page .blue .child td .menu img {
	display:block;
	margin:0 auto 5px;
}
.page .blue .child td .print {
	border:1px solid #a8a8a8;
	display:block;
	width:110px;
	height:120px;
	text-align:center;
	text-decoration:none;
}
.page .blue .child td .print img {
	border-bottom:1px solid #a8a8a8;
	display:block;
}
.page .blue .child td .print .text {
	background:url(../images/text-bg.gif) repeat-x;
	height:36px;
	display:block;
	font-size:16px;
	line-height:14px;
	color:#61580e;
	padding:5px 0 0;
}

/* hold-content */
.hold-content {
	overflow:hidden;
	height:1%;
	margin:-10px 0 10px;
	position:relative;
}
.hold-content #content {
	float:left;
	width:605px;
	padding:0 0 0 10px;
}
.hold-content #content h1.red {
	margin:0 0 26px;
	font-size:36px;
	line-height:30px;
	font-weight:100;
	color:#d3414f;
}
.hold-content #content .main-text {
	margin:0 0 17px;
	font-size:18px;
	color:#8c7348;
	line-height:22px;
}
.hold-content #content .link {
	float:none;
	margin:0 0 13px;
}
.hold-content #content .link a {float:left;}
.hold-content #content .uslugi {
	padding:52px 0 0;
	margin:0 0 60px;
}
.hold-content #content .uslugi h2 {
	margin:0 0 6px;
	font-size:20px;
	color:#a87723;
	font-weight:bold;
}
.hold-content #content .uslugi p {
	margin:0 0 30px;
	font-size:14px;
	color:#8c7348;
	line-height:17px;
}
.hold-content #content .soc-seti {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	height:1%;
}
.hold-content #content .soc-seti li {
	float:left;
	margin:0 25px 0 0;
}
.hold-content #sidebar {
	float:right;
	width:291px;
	padding:0;
}
.hold-content #sidebar .hold {
	padding:0;
	width:296px;
}
.hold-content #sidebar .hold .block-child {margin:0 0 40px;}
.hold-content #sidebar .hold .photo-block {margin:0 0 10px;}
.hold-content #sidebar .hold .h3 {
	display:block;
	font-size:18px;
	line-height:18px;
	color:#705a33;
	font-weight:bold;
	margin:0 0 7px;
}
.hold-content #sidebar .hold p {
	margin:0 0 10px;
	font-size:14px;
	color:#8c7348;
	line-height:17px;
}

/* hold */
.hold {
	position:relative;
	padding:36px 0 23px 41px;
	width:969px;
}
.hold .bg {
	position:absolute;
	top:0;
	left:50%;
	margin:0 0 0 -175px;
}
.hold .photo-block {
	width:294px;
	position:relative;
}
.hold .photo-block .link {
	position:absolute;
	bottom:4px;
	right:46px;
	font-size:14px;
	color:#347f75;
}
.hold .photo-block div {
	margin:0 0 13px;
	overflow:hidden;
	height:1%;
	padding:6px 0 0 4px;
}
.hold .photo-block h4 {
	margin:0; 
	line-height:26px;
	position:relative;
}
.hold .photo-block h4 a {
	 font-size:24px;
	 font-style:italic;
	 font-weight:100;
}
.hold .photo-block .years {
	font-size:12px;
	color:#b8a883;
	font-style:normal;
}
.hold .girl {float:left;}
.hold .girl h4 a {color:#d3414f;}
.hold .boy h4 a {color:#347f75;}
.hold .ramka {
	display:block;
	position:absolute;
	top:0;
	left:0;
}
.hold .girl .ramka {
	background:url(../images/ramka-girl.png) no-repeat;
	width:292px;
	height:273px;
}
.hold .boy .ramka {
	background:url(../images/boy.png) no-repeat;
	width:279px;
	height:278px;
	display:block;
}

.hold .boy {float:right;}
.hold .uslugi {
	float:left;
	width:343px;
	text-align:center;
	padding:32px 0 0;
}
.hold .uslugi h2 {
	margin:0 0 7px;
	font-size:36px;
	font-weight:100;
	color:#d3414f;
}
.hold .uslugi p {
	margin:0 0 13px;
	font-size:14px;
	color:#8c7348;
	line-height:17px;
}
.hold .uslugi .link a {
	margin:0 auto;
	float:none;
	display:inline-block;
	padding:0 0 2px 25px;
}
*+html .hold .uslugi .link a {display:inline;}

/* wrapper */
#wrapper {
	overflow:hidden;
	background:url(../images/wrapper-bg.gif) repeat;
	padding:26px 0 26px;
}
.wrapper h2 {
	margin:0 auto 8px;
	text-align:center;
	background:url(../images/title.png) no-repeat;
	width:525px;
	height:82px;
	font-weight:100;
	font-size:36px;
	color:#b07d5f;
	padding:6px 0 0;
}
.wrapper .menu {
	margin:0 0 20px;
	padding:0 0 0 10px;
	list-style:none;
}
.wrapper .menu > li {
	display:inline-block;
	width:208px;
	vertical-align:top;
	margin:0 23px 0 0;
}
*+html .wrapper .menu > li {display:inline;}
.wrapper .menu > li > a {
	font-size:24px;
	color:#6b8d89;
	text-decoration:none;
	text-shadow:1px 1px 0 #fff;
}
.wrapper .menu li ul {
	margin:0;
	padding:10px 0 0 3px;
	list-style:none;
}
.wrapper .menu li ul li {
	background:url(../images/bullet2.png) no-repeat 0 5px;
	padding:0 0 0 17px;
	margin:0 0 6px;
	line-height:17px;
}
.wrapper .menu li ul li a {
	font-size:14px;
	color:#347f75;
}
.cont {position:relative;}
.aside {
	position:absolute;
	z-index:2;
	right:50px;
	top:44px;
}

/* archive */
.page .archive {
	overflow:hidden;
	width:124px;
	margin:0 0 50px -4px;
}
.page .archive .top {
	background:url(../images/archive-top.png) no-repeat;
	padding:10px 0 0;	
	width:124px;
}
.page .archive .bg-archive {
	background:url(../images/archive.png) repeat-y;
	width:94px;
	overflow:hidden;
	padding:0 10px 10px 20px;
}
.page .archive .bottom {
	overflow:hidden;
	width:124px;
	background:url(../images/archive-bottom.png) no-repeat;
	height:24px;
}
.page .archive h4 {
	margin:0 0 5px;
	font-size:16px;
	color:#7e6729;
	font-weight:100;
}
.page .archive .list {
	margin:0;
	padding:0;
	list-style:none;
}
.page .archive .list li  {
	display:block;
	line-height:16px;
}
.page .archive .list li a {
	font-size:12px;
	color:#9d884f;
}
.aside .banner {
	display:block;
	margin:-39px 0 10px;
	
}

/* footer */
.footer {
	height:72px;
	padding:43px 23px 0 27px;
}
.footer-bg {
	background:url(../images/footer-bg.png) repeat-x;
	margin:-10px 0 0;
	position:relative;
}
.index .footer {background:none;}
.footer .copy {
	margin:0;
	float:left;
	font-size:12px;
	color:#b1a086;
	padding:8px 0 0 5px;
}
.footer .logotip {
	margin:8px 9px 0 0;
	width:103px;
	font-size:12px;
	color:#b1a086;
	float:right;
}
.footer .logotip a {
	float:right;
	background:url(../images/logotip.gif) no-repeat;
	width:54px;
	height:30px;
	margin:-8px 0 0;
}

/* menu */
.footer .menu {
	margin:0;
	padding:4px 0 0;
	list-style:none;
	text-align:center;
}
.footer .menu li {
	display:inline-block;
	margin:0 14px 0 0;
}
*+html .footer .menu li {display:inline;}
.footer .menu li a {
	font-size:14px;
	font-style:italic;
	color:#8c8123;
}