body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:56px;
    top:78px;
    width:903px;
    height:157px
}

.u1_normal {
    background-image: url('../ТАблица_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:254px;
    height:52px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:58px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../ТАблица_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:254px;
    top:0px;
    width:95px;
    height:52px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:58px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../ТАблица_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:349px;
    top:0px;
    width:99px;
    height:52px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:58px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../ТАблица_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:448px;
    top:0px;
    width:66px;
    height:52px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:58px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../ТАблица_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:514px;
    top:0px;
    width:59px;
    height:52px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:58px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../ТАблица_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:573px;
    top:0px;
    width:60px;
    height:52px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:58px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../ТАблица_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:633px;
    top:0px;
    width:56px;
    height:52px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:58px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../ТАблица_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:689px;
    top:0px;
    width:59px;
    height:52px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:58px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../ТАблица_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:748px;
    top:0px;
    width:50px;
    height:52px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:58px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../ТАблица_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:798px;
    top:0px;
    width:100px;
    height:52px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../ТАблица_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:52px;
    width:254px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../ТАблица_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:254px;
    top:52px;
    width:95px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../ТАблица_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:349px;
    top:52px;
    width:99px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../ТАблица_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:448px;
    top:52px;
    width:66px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:514px;
    top:52px;
    width:59px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../ТАблица_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:573px;
    top:52px;
    width:60px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../ТАблица_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:633px;
    top:52px;
    width:56px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u35_container {
    position:absolute;
    left:689px;
    top:52px;
    width:59px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../ТАблица_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:748px;
    top:52px;
    width:50px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../ТАблица_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:798px;
    top:52px;
    width:100px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../ТАблица_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:72px;
    width:254px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../ТАблица_files/u23_normal.png');
}

.u43_container {
    position:absolute;
    left:254px;
    top:72px;
    width:95px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../ТАблица_files/u25_normal.png');
}

.u45_container {
    position:absolute;
    left:349px;
    top:72px;
    width:99px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../ТАблица_files/u27_normal.png');
}

.u47_container {
    position:absolute;
    left:448px;
    top:72px;
    width:66px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u49_container {
    position:absolute;
    left:514px;
    top:72px;
    width:59px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../ТАблица_files/u31_normal.png');
}

.u51_container {
    position:absolute;
    left:573px;
    top:72px;
    width:60px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../ТАблица_files/u33_normal.png');
}

.u53_container {
    position:absolute;
    left:633px;
    top:72px;
    width:56px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u55_container {
    position:absolute;
    left:689px;
    top:72px;
    width:59px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ТАблица_files/u37_normal.png');
}

.u57_container {
    position:absolute;
    left:748px;
    top:72px;
    width:50px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ТАблица_files/u39_normal.png');
}

.u59_container {
    position:absolute;
    left:798px;
    top:72px;
    width:100px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../ТАблица_files/u21_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:92px;
    width:254px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../ТАблица_files/u23_normal.png');
}

.u63_container {
    position:absolute;
    left:254px;
    top:92px;
    width:95px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../ТАблица_files/u25_normal.png');
}

.u65_container {
    position:absolute;
    left:349px;
    top:92px;
    width:99px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../ТАблица_files/u27_normal.png');
}

.u67_container {
    position:absolute;
    left:448px;
    top:92px;
    width:66px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u69_container {
    position:absolute;
    left:514px;
    top:92px;
    width:59px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../ТАблица_files/u31_normal.png');
}

.u71_container {
    position:absolute;
    left:573px;
    top:92px;
    width:60px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../ТАблица_files/u33_normal.png');
}

.u73_container {
    position:absolute;
    left:633px;
    top:92px;
    width:56px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u75_container {
    position:absolute;
    left:689px;
    top:92px;
    width:59px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../ТАблица_files/u37_normal.png');
}

.u77_container {
    position:absolute;
    left:748px;
    top:92px;
    width:50px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../ТАблица_files/u39_normal.png');
}

.u79_container {
    position:absolute;
    left:798px;
    top:92px;
    width:100px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../ТАблица_files/u21_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:112px;
    width:254px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../ТАблица_files/u23_normal.png');
}

.u83_container {
    position:absolute;
    left:254px;
    top:112px;
    width:95px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../ТАблица_files/u25_normal.png');
}

.u85_container {
    position:absolute;
    left:349px;
    top:112px;
    width:99px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ТАблица_files/u27_normal.png');
}

.u87_container {
    position:absolute;
    left:448px;
    top:112px;
    width:66px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u89_container {
    position:absolute;
    left:514px;
    top:112px;
    width:59px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../ТАблица_files/u31_normal.png');
}

.u91_container {
    position:absolute;
    left:573px;
    top:112px;
    width:60px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../ТАблица_files/u33_normal.png');
}

.u93_container {
    position:absolute;
    left:633px;
    top:112px;
    width:56px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u95_container {
    position:absolute;
    left:689px;
    top:112px;
    width:59px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../ТАблица_files/u37_normal.png');
}

.u97_container {
    position:absolute;
    left:748px;
    top:112px;
    width:50px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../ТАблица_files/u39_normal.png');
}

.u99_container {
    position:absolute;
    left:798px;
    top:112px;
    width:100px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../ТАблица_files/u21_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:132px;
    width:254px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../ТАблица_files/u23_normal.png');
}

.u103_container {
    position:absolute;
    left:254px;
    top:132px;
    width:95px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../ТАблица_files/u25_normal.png');
}

.u105_container {
    position:absolute;
    left:349px;
    top:132px;
    width:99px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../ТАблица_files/u27_normal.png');
}

.u107_container {
    position:absolute;
    left:448px;
    top:132px;
    width:66px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u109_container {
    position:absolute;
    left:514px;
    top:132px;
    width:59px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../ТАблица_files/u31_normal.png');
}

.u111_container {
    position:absolute;
    left:573px;
    top:132px;
    width:60px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../ТАблица_files/u33_normal.png');
}

.u113_container {
    position:absolute;
    left:633px;
    top:132px;
    width:56px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../ТАблица_files/u29_normal.png');
}

.u115_container {
    position:absolute;
    left:689px;
    top:132px;
    width:59px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../ТАблица_files/u37_normal.png');
}

.u117_container {
    position:absolute;
    left:748px;
    top:132px;
    width:50px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../ТАблица_files/u39_normal.png');
}

.u119_container {
    position:absolute;
    left:798px;
    top:132px;
    width:100px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:701px;
    top:36px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

