body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Статистика_подробно_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:34px;
    width:1001px;
    height:798px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1007px;
    height:804px;
}

.u1 {
    position:absolute;
    left:2px;
    top:391px;
    width:997px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Статистика_подробно_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:200px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Статистика_подробно_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:177px;
    top:161px;
    width:147px;
    height:32px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Статистика_подробно_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:962px;
    height:3px;
}

.u6 {
    position:absolute;
    left:10px;
    top:188px;
    width:962px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../Статистика_подробно_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:20px;
    top:161px;
    width:147px;
    height:32px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Статистика_подробно_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:828px;
    top:30px;
    width:144px;
    height:80px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:86px;
}

.u10 {
    position:absolute;
    left:2px;
    top:32px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:835px;
    top:44px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:835px;
    top:76px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_normal {
    background-image: url('../Статистика_подробно_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:334px;
    top:161px;
    width:258px;
    height:32px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:38px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Статистика_подробно_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:20px;
    top:208px;
    width:180px;
    height:42px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:48px;
}

.u16 {
    position:absolute;
    left:2px;
    top:13px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Статистика_подробно_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:200px;
    top:208px;
    width:180px;
    height:42px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:48px;
}

.u18 {
    position:absolute;
    left:2px;
    top:13px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:20px;
    top:208px;
    width:181px;
    height:43px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:43px;
    
}

.u20_normal {
    background-image: url('../Статистика_подробно_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:42px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:48px;
}

.u21 {
    position:absolute;
    left:2px;
    top:13px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:200px;
    top:208px;
    width:181px;
    height:43px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:43px;
    
}

.u23_normal {
    background-image: url('../Статистика_подробно_files/u20_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:42px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:48px;
}

.u24 {
    position:absolute;
    left:2px;
    top:13px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:35px;
    top:221px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:215px;
    top:221px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Статистика_подробно_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:20px;
    top:250px;
    width:828px;
    height:405px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:834px;
    height:411px;
}

.u28 {
    position:absolute;
    left:2px;
    top:194px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u29 {
    position:absolute;
    left:35px;
    top:277px;
    width:533px;
    height:368px;
    overflow:hidden;
}

#pd2u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:533px;
    height:368px;
    
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:532px;
    height:367px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:532px;
    height:367px;
}

.u31 {
    position:absolute;
    left:2px;
    top:176px;
    width:528px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:44px;
    top:16px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:533px;
    height:368px;
    
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:532px;
    height:367px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:532px;
    height:367px;
}

.u34 {
    position:absolute;
    left:2px;
    top:176px;
    width:528px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:44px;
    top:16px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:533px;
    height:368px;
    
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:532px;
    height:367px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:532px;
    height:367px;
}

.u37 {
    position:absolute;
    left:2px;
    top:176px;
    width:528px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:44px;
    top:16px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:35px;
    top:277px;
    width:533px;
    height:368px;
    overflow:hidden;
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:533px;
    height:368px;
    
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:530px;
    height:305px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:530px;
    height:305px;
}

.u41 {
    position:absolute;
    left:2px;
    top:144px;
    width:526px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:44px;
    top:16px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:636px;
    top:224px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

