body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Конструктор_Юр__files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1001px;
    height:1015px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1007px;
    height:1021px;
}

.u1 {
    position:absolute;
    left:2px;
    top:500px;
    width:997px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Конструктор_Юр__files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:200px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Конструктор_Юр__files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:215px;
    width:764px;
    height:763px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:770px;
    height:769px;
}

.u5 {
    position:absolute;
    left:2px;
    top:374px;
    width:760px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Конструктор_Юр__files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:177px;
    top:161px;
    width:147px;
    height:32px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Конструктор_Юр__files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:962px;
    height:3px;
}

.u8 {
    position:absolute;
    left:10px;
    top:188px;
    width:962px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../Конструктор_Юр__files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:20px;
    top:151px;
    width:147px;
    height:42px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:48px;
}

.u10 {
    position:absolute;
    left:2px;
    top:13px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Конструктор_Юр__files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:828px;
    top:30px;
    width:144px;
    height:80px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:86px;
}

.u12 {
    position:absolute;
    left:2px;
    top:32px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:835px;
    top:44px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:835px;
    top:76px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:28px;
    top:246px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:34px;
    top:926px;
    width:204px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_line {
    background-image: url('../Конструктор_Юр__files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:440px;
}

.u17 {
    position:absolute;
    left:501px;
    top:248px;
    width:10px;
    height:440px;
    
}

.u18 {
    position:absolute;
    left:533px;
    top:246px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Конструктор_Юр__files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:334px;
    top:161px;
    width:258px;
    height:32px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:38px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:253px;
    top:286px;
    width:238px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:28px;
    top:292px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:28px;
    top:318px;
    width:464px;
    height:523px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:464px;
    height:523px;
    
}

.u24 {
    position:absolute;
    left:225px;
    top:139px;
    width:238px;
    height:129px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:225px;
    top:0px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:225px;
    top:35px;
    width:128px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:225px;
    top:70px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:225px;
    top:104px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:0px;
    top:9px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:44px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:0px;
    top:79px;
    width:182px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:0px;
    top:113px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:0px;
    top:139px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:0px;
    top:325px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:225px;
    top:278px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:0px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:363px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:225px;
    top:316px;
    width:128px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:363px;
    top:316px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40_normal {
    background-image: url('../Конструктор_Юр__files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:225px;
    top:351px;
    width:31px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:37px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:27px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:266px;
    top:360px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:28px;
    top:318px;
    width:464px;
    height:523px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:464px;
    height:523px;
    
}

.u44 {
    position:absolute;
    left:225px;
    top:139px;
    width:238px;
    height:129px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:225px;
    top:0px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:225px;
    top:35px;
    width:128px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:225px;
    top:70px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:225px;
    top:104px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:0px;
    top:9px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:44px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:0px;
    top:79px;
    width:182px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:0px;
    top:113px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:0px;
    top:139px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:0px;
    top:325px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:225px;
    top:278px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:0px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:363px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:225px;
    top:316px;
    width:128px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:363px;
    top:316px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60_normal {
    background-image: url('../Конструктор_Юр__files/u40_normal.png');
}

.u60_container {
    position:absolute;
    left:225px;
    top:351px;
    width:31px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:37px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:0px;
    width:27px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:266px;
    top:360px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:225px;
    top:399px;
    width:238px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:0px;
    top:405px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u65 {
    position:absolute;
    left:28px;
    top:318px;
    width:464px;
    height:523px;
    overflow:hidden;
}

#pd0u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:464px;
    height:523px;
    
}

.u66 {
    position:absolute;
    left:225px;
    top:0px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:225px;
    top:35px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:225px;
    top:70px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:0px;
    top:9px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:0px;
    top:44px;
    width:182px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:0px;
    top:79px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:0px;
    top:148px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:225px;
    top:104px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:0px;
    top:113px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:225px;
    top:139px;
    width:128px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:363px;
    top:139px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77_normal {
    background-image: url('../Конструктор_Юр__files/u40_normal.png');
}

.u77_container {
    position:absolute;
    left:225px;
    top:174px;
    width:31px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:37px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:0px;
    width:27px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:266px;
    top:183px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u80 {
    position:absolute;
    left:28px;
    top:318px;
    width:464px;
    height:523px;
    overflow:hidden;
}

#pd0u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:464px;
    height:523px;
    
}

.u81 {
    position:absolute;
    left:225px;
    top:35px;
    width:238px;
    height:171px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:225px;
    top:0px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:0px;
    top:9px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:0px;
    top:35px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:0px;
    top:225px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:225px;
    top:286px;
    width:238px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:0px;
    top:295px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:225px;
    top:216px;
    width:128px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:363px;
    top:216px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90_normal {
    background-image: url('../Конструктор_Юр__files/u40_normal.png');
}

.u90_container {
    position:absolute;
    left:225px;
    top:251px;
    width:31px;
    height:25px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:37px;
    height:31px;
}

.u91 {
    position:absolute;
    left:2px;
    top:0px;
    width:27px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:266px;
    top:260px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_container {
    position:absolute;
    left:229px;
    top:37px;
    width:213px;
    height:56px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:56px;
}

.u94 {
    position:absolute;
    left:2px;
    top:20px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:225px;
    top:321px;
    width:238px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:0px;
    top:327px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_container {
    position:absolute;
    left:533px;
    top:328px;
    width:210px;
    height:360px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:360px;
}

.u98 {
    position:absolute;
    left:2px;
    top:172px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Конструктор_Юр__files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:533px;
    top:286px;
    width:28px;
    height:28px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u100 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Конструктор_Юр__files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:571px;
    top:286px;
    width:28px;
    height:28px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u102 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Конструктор_Юр__files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:609px;
    top:286px;
    width:28px;
    height:28px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u104 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u105 {
    position:absolute;
    left:533px;
    top:270px;
    width:151px;
    height:17px;
    overflow:hidden;
}

#pd0u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:17px;
    
}

.u106 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u107 {
    position:absolute;
    left:533px;
    top:270px;
    width:151px;
    height:17px;
    overflow:hidden;
}

#pd0u107 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:17px;
    
}

.u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u109 {
    position:absolute;
    left:533px;
    top:270px;
    width:151px;
    height:17px;
    overflow:hidden;
}

#pd0u109 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:17px;
    
}

.u110 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:647px;
    top:288px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Century';
    font-size: 13px;
    color:#000000;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

#u112 {
    position:absolute;
    left:533px;
    top:313px;
    width:349px;
    height:168px;
    overflow:hidden;
}

#pd0u112 {
    position:absolute;
    left:0px;
    top:0px;
    width:349px;
    height:168px;
    
}

.u113_container {
    position:absolute;
    left:0px;
    top:0px;
    width:348px;
    height:167px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:348px;
    height:167px;
}

.u114 {
    position:absolute;
    left:2px;
    top:76px;
    width:344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:533px;
    top:703px;
    width:204px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u116 {
    position:absolute;
    left:533px;
    top:738px;
    width:211px;
    height:237px;
    overflow:hidden;
}

#pd0u116 {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:237px;
    
}

.u117_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u118 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:0px;
    top:134px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:0px;
    top:160px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:0px;
    top:186px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:0px;
    top:204px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:0px;
    top:220px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:114px;
    top:130px;
    width:96px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u125 {
    position:absolute;
    left:114px;
    top:156px;
    width:74px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:192px;
    top:165px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

